$background: #212121;
$dark: #303030;
$light: #424242;
$textColor: #dfe6e9;
$inputBackgroundColor: rgba(255, 255, 255, .5);
$green: #78e08f;
$linkColor: #be2edd;
$shadow: 0 1rem 3rem rgba(0,0,0,.175);

@import "../../node_modules/easymde/dist/easymde.min.css";

// General colors
body,
html {
    background: $background !important;
    color: $textColor !important;
}

.clsFormPage,
.clsFormPageBody,
.clsFormPageContent,
.clsFormElement,
.clsFormPageTitle,
.divLabel,
td,
th,
.clsFormElementMatrix,
.page,
.x-body,
.highcharts-background {
    color: $textColor !important;
    background: $dark !important;
}

.clsFormPage {
    background: $dark !important;
}

.clsFormElementText {
    background: $light !important;
}

a:not(.ui-accordion-header) {
    color: $linkColor;
}

input,
textarea,
.custom-textarea,
.marked {
    background: $inputBackgroundColor !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

textarea,
.custom-textarea,
.marked {
    width: 100%;
    border: 0 !important;
    min-height: calc(163px - 26.78px - 25.59px) !important;
    height: auto;
}

.divOptionLabel {
    color: $textColor !important;
}

.ui-accordion-header {
    background: $background !important;
    color: $textColor !important;

    a {
        color: $textColor !important;
    }
}

.ui-dialog {
    background: $light !important;
    box-shadow: $shadow !important;
    color: $textColor !important;
    border: 0 !important;

    .ui-dialog-content, .ui-widget-content, .ui-dialog-titlebar{
        background: $light !important;
        color: $textColor !important;
    }

    .ui-dialog-buttonpane, .ui-dialog-titlebar {
        border: 0 !important;
    }
}

// Borders

.divLabel,
.clsFormElementMatrix table tr,
.ui-autocomplete-input, .ui-accordion-header, .custom-textarea {
    border: 0 !important;
}

.clsFormPageBody, .ui-accordion-header {
    border-radius: 5px !important;
}


// Hiding
.clsFormPageTop,
.clsFormDisclaimer,
.clsFormPage:after {
    display: none !important
}

// Markdown previewer

.marked {
    font-size: .8rem;
    color: $background;
    height: auto;

    p:first-of-type {
        margin-top: 0;
    }
}

// easymde

.EasyMDEContainer {

    .editor-toolbar,
    .CodeMirror {
        border: 0 !important;
    }

    .CodeMirror-scroll {
        max-height: 200px;
    }

    .editor-toolbar {
        background: $light !important;

        button {
            border: 0 !important;
            border-radius: 0 !important;
            color: $textColor;
        }

        button:hover {
            color: $dark;
        }

        button.active {
            background: $green !important;
        }
    }

    .CodeMirror {
        background: $inputBackgroundColor !important;

        .cm-link,
        .cm-url,
        .cm-quote {
            color: $dark !important;
        }

        .cm-header-1 {
            font-size: 1.4rem;
        }

        .cm-header-2 {
            font-size: 1.3rem;
        }

        .cm-header-3 {
            font-size: 1.2rem;
        }

        .cm-header-4 {
            font-size: 1.1rem;
        }

        .cm-header-5 {
            font-size: 1rem;
        }

        .cm-header-6 {
            font-size: .9rem;
        }
    }
}