$background: #212121;
$dark: #303030;
$light: #424242;
$textColor: #dfe6e9;
$inputBackgroundColor: rgba(255, 255, 255, .5);

// .q-page {
//     background: $background !important;
// }

// .bg-white, .q-toolbar {
//     background: $dark !important;
// }